<html>

<head>
<title>Title</title>

<!-- HEAD_CONTENT -->

</head>

<body>

<h2>Login</h2>

<h3>{{ message }}</h3>

<form action="/login" method="post">
  <label for="user">Benutzername:</label>
  <input type="text" name="user" /><br>
  
  <label for="pwd">Passwort:</label>
  <input type="text" name="pwd" /><br>
  
  <button name="login">Login</button>
  
</form>

</body>
</html>