<html>

<head>
<title>Title</title>

<!-- HEAD_CONTENT -->

</head>

<body>

<h2>{{ user }}</h2>

<h3>{{ file_name }}</h3>

<form action="/process/{{ file_name }}" method="get">
  <label for="x">X:</label>
  <input type="text" name="x" value="{{ x }}"/><br>
  
  <label for="y">Y:</label>
  <input type="text" name="y" value="{{ y }}"/><br>
  
  <button name="process">Process</button>
  
</form>

{{ result_dataframe }}

{{ result_plot }}

</body>
</html>
